ody {
background-color: rgb(187, 146, 238);

}
h2{

outline-color: rgb(183, 224, 236);


}
body{

background-image: -webkit-image-set();

}
h1{

  text-decoration: wavy;


}


h1{

color:pink;
font-family: 'Courier New', Courier, monospace;


}

h4{
color: antiquewhite;



}
button;
